
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<head>

  <title>Флэшкарточкер</title>
 
</head>

<body>

<div class="container">

  <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>
      <ul class="navigation-links">
        <ul class="nav nav-pills">
        <li><a href="#">Все карточки</a></li>
        <%#-<%= link_to 'Patient Record',patient_path(@patient) %>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </header>
  </section>
</div> 
</body>
